@page
@model WeeklyMeals.Pages.Recipes.ChooseRecipeModel

@{
    ViewData["Title"] = "Choose recipe";
}

<div class="row" style="margin-left: 100px; margin-right: 100px;">
    @foreach (var recipe in Model.Recipes)
    {
        <div class="col-sm-4" style="margin-bottom:30px">
            <div class="card">
                <img class="card-img-top" src="@Url.Content(@recipe.ImageUrl)" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@recipe.RecipeName</h5>
                    <form method="post">
                        <div class="form-actions no-color">
                            <div class="form-group">
                                @if (recipe.MealPlanRecipeID == 0)
                                {
                                    <input type="submit" value="Add to Meal Plan" asp-route-RecipeID="@recipe.RecipeID" class="btn btn-primary" />
                                }
                                else
                                {
                                        <span class="recipe-additional-info">#Batches: </span>
                                        <input type="submit" value="-" asp-page-handler="CheckDelete" asp-route-MealPlanRecipeID="@recipe.MealPlanRecipeID" class="minus" />
                                        <span class="plusminusinput">@recipe.NumberBatches</span>
                                        <input type="submit" value="+" asp-page-handler="CheckAdd" asp-route-MealPlanRecipeID="@recipe.MealPlanRecipeID" class="plus" />
                                }

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
