@page
@model WeeklyMeals.Pages.Recipes.RecipesForMPModel

@{
    ViewData["Title"] = "Index";
}

<h3>Meals</h3>

<form asp-page="./RecipesForMP" method="get">
    <div class="form-actions no-color">
        <p>
            Choose meal plan:
            <select asp-for="SelectedMealPlanId" asp-items="Model.Options">
                <option value="">Pick your meal plan</option>
            </select>
            <input type="submit" value="Search" class="btn btn-primary" />
        </p>
    </div>
</form>

<div class="row">
    <div class="col-sm-7 card-columns" style="column-count:1;">
        @foreach (var recipe in Model.MealPlan.MealPlanRecipes)
        {
            <div class="card" style="background-color:white;">
                <div class="row card-body">
                    <img class="col-sm-5" height="200px" src="@Url.Content(@recipe.Recipe.ImageUrl)" />

                    <div class="col-sm-7 d-flex flex-column align-items-start">
                        <div class="title"><a asp-page="/Recipes/Details" asp-route-ID="@recipe.Recipe.RecipeID">@recipe.Recipe.Name</a></div>
                        <div class="align-self-bottom" style="margin-top: auto;">
                            <form method="post">
                                <div class="form-actions no-color">
                                    <div class="recipe-additional-info">Servings: @recipe.Recipe.NumberServings</div>
                                    <input type="submit" value="Remove" asp-route-MealPlanRecipeID="@recipe.MealPlanRecipeID" class="btn btn-danger" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
        <a asp-page="/Recipes/ChooseRecipe" class="btn btn-primary m-1">Add a new recipe</a>
    </div>
</div>