@page
@model WeeklyMeals.Pages.Recipes.RecipesForMPModel

@{
    ViewData["Title"] = "Index";
}

<h1>Meal Plan Recipes</h1>

<form asp-page="./RecipesForMP" method="get">
    <div class="form-actions no-color">
        <p>
            Choose meal plan:
            <select asp-for="SelectedMealPlanId" asp-items="Model.Options">
                <option value="">Pick your meal plan</option>
            </select>
            <input type="submit" value="Search" class="btn btn-primary" />
        </p>
    </div>
</form>

<div class="row">
    <div class="col-sm-7 card-columns">
        @foreach (var mealplan in Model.MealPlans)
        {
            <h3>@mealplan.Name</h3>

            foreach (var recipe in mealplan.MealPlanRecipes)
            {
                <div class="card">
                    <div class="row card-body">
                        <img class="col-sm-5" src="@Url.Content(@recipe.Recipe.ImageUrl)" />

                        <div class="col-sm-7 d-flex flex-column align-items-start">
                            <h3 class="card-title"><a asp-page="/Recipes/Details" asp-route-ID="@recipe.Recipe.RecipeID">@recipe.Recipe.Name</a></h3>
                            <div class="align-self-bottom" style="margin-top: auto;">
                                <div class="form-actions no-color">
                                    <a asp-page="/Recipes/Delete" asp-route-ID="@recipe.Recipe.RecipeID"
                                       class="btn btn-danger m-1">Remove from Plan</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        <a asp-page="/Recipes/ChooseRecipe" class="btn btn-primary m-1">Add a new recipe</a>
    </div>
</div>