@page
@model WeeklyMeals.Pages.Recipes.RecipesForMPModel

@{
    ViewData["Title"] = "Meal Plans";
}
<div style="padding-left:40px;">
    <p>@Model.TotalServings</p>

    <div class="dropdown">
        <button class="dropbtn">@Model.CurrentPlanName</button>
        <div class="dropdown-content">
            @foreach (var opt in Model.Options)
            {
                <a href="@opt.Value">@opt.Text</a>
            }
        </div>
    </div>

    <form asp-page="./RecipesForMP" method="get">
        <div class="form-actions no-color">
            <p>
                <select asp-for="SelectedMealPlanId" asp-items="Model.Options">
                    <option value="">Pick your meal plan</option>
                </select>
                <input type="submit" value="Select" class="btn btn-primary" />
            </p>
        </div>
    </form>

    <div style="margin-left:150px; margin-right:150px;">
        <div class="row justify-content-center">
            <div style="margin-top: 20px; margin-left: auto; margin-right: auto; padding-bottom: 40px;">
                <div class="card-deck">
                    @foreach (var recipe in Model.MealPlan.MealPlanRecipes)
                    {
                        <div class="card" style="margin-left: 7px; margin-right: 0px; max-width: 250px;">
                            <div class="card-body">
                                <a class="title" asp-page="/Recipes/Details" asp-route-ID="@recipe.Recipe.RecipeID">@recipe.Recipe.Name</a>
                                <div class="recipe-additional-info">#Servings: @recipe.Recipe.NumberServings</div>
                                <div class="recipe-additional-info">#Batches: @recipe.NumberBatches</div>
                                @if (recipe.PercentForYou < 1)
                                {
                                    <div class="recipe-additional-info">Percent for you: @string.Format("{0:0}%", recipe.PercentForYou * 100)</div>
                                }
                            </div>
                            <img class="card-img-bottom" src="@Url.Content(@recipe.Recipe.ImageUrl)" />
                        </div>
                    }
                </div>
                <a asp-page="/Recipes/ChooseRecipe" class="btn btn-primary m-1">Add a new recipe</a>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        $('.dropdown-content').on('click', function () {
            alert('here');
            alert(this.href);
            e.preventDefault();
        });

        $('#minusbutton').on('click', function (e) {
            alert('onclick');
            e.preventDefault(); //Prevents form refresh
            $.ajax({
                type: "POST",
                url: "/Demo?handler=CheckDeleteAjax",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    alert(success);
                },
                failure: function (response) {
                    alert(response);
                }
            });
        });
    </script>
}
